<div class="panel-group">
  <div class="panel panel-default pie-canvas">
    <div class="panel-body canvas-body">
      <div class="pie-chart">
        <div class="pie" data-start="0" data-value="30"></div>
        <div class="pie highlight" data-start="30" data-value="30"></div>
        <div class="pie" data-start="60" data-value="40"></div>
        <div class="pie big" data-start="100" data-value="260"></div>
      </div>
      <div class="chart-legends pull-right">
        <div class="legend bitcoin">
          <div class="flag"></div>
          <div class="label">Bitcoin</div>
        </div>
        <div class="legend ethereuim">
          <div class="flag"></div>
          <div class="label">Ethereuim</div>
        </div>
        <div class="legend ripple">
          <div class="flag"></div>
          <div class="label">Ripple</div>
        </div>
        <div class="legend dash">
          <div class="flag"></div>
          <div class="label">Dash</div>
        </div>
        <div class="legend litecoin">
          <div class="flag"></div>
          <div class="label">Litecoin</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default pie-data">
    <div class="row">
      <div class="data-grid bitcoin">
        <div class="percentage">67%</div>
        <div class="name">Bitcoin</div>
        <div class="underline"></div>
        <div class="amount">
          <span class="currency">$</span>10,000.00</div>
      </div>
      <div class="data-grid ethereuim">
        <div class="percentage">17%</div>
        <div class="name">Ethereuim</div>
        <div class="underline"></div>
        <div class="amount">
          <span class="currency">$</span>2,500.00</div>
      </div>
      <div class="data-grid ripple">
        <div class="percentage">6%</div>
        <div class="name">Ripple</div>
        <div class="underline"></div>
        <div class="amount">
          <span class="currency">$</span>1,000.00</div>
      </div>
      <div class="data-grid dash">
        <div class="percentage">6%</div>
        <div class="name">Dash</div>
        <div class="underline"></div>
        <div class="amount">
          <span class="currency">$</span>1,000.00</div>
      </div>
      <div class="data-grid litecoin">
        <div class="percentage">4%</div>
        <div class="name">Litecoin</div>
        <div class="underline"></div>
        <div class="amount">
          <span class="currency">$</span>500.00</div>
      </div>
    </div>
  </div>
</div>