<div class="row bg-green navigationPanel">
  <div class="col-md-2">
    <a>FIDELITY CRYPTOCURRENCY WALLET</a>
  </div>
  <div class="col-md-2">
    <a>CUSTOMER SERVICE</a>
  </div>
  <div class="col-md-2">
    <a>OPEN AN ACCOUNT</a>
  </div>
  <div class="col-md-1">
    <a>LOGIN</a>
  </div>
  <div class="col-md-1">
    <a>REFER A FRIEND</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="container">
      <form id="loginForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default blue">Log In</button>
        <br>
        <button type="submit" class="btn btn-default orange">Open an Account</button>
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <h4 class="newsHeading">Todays News</h4>
    <div class="newsContainer">
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
    </div>
  </div>
</div>