#loginForm {
    padding-top: 60px;
}

#loginForm button{
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

#loginForm button.blue {
    background-color: #0560BD;
}

#loginForm button.orange {
    background-color: orange;
}

.newsHeading{
    color: #2A7FFF;
    margin-top: 30px;
}