<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Fidelity Cryptocurrency Wallet</h3>
    </div>

    <ul class="list-unstyled components">
            <li><a routerLink="./summary" routerLinkActive="active">Summary</a></li>
            <li><a routerLink="./portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="./wallet" routerLinkActive="active">Wallet</a></li>
            <li><a routerLink="./exchange" routerLinkActive="active">Exchange</a></li>
            <li><a routerLink="./settings" routerLinkActive="active">Settings</a></li>
            <li><a routerLink="./help" routerLinkActive="active">Help</a></li>
    </ul>
</nav>