/* You can add global styles to this file, and also import other style files */

.bg-green {
    background-color: green;
    height: 70px;
    padding-top: 14px;
}

.navigationPanel a {
    cursor: pointer;
    font-size: 20px;
    color: white !important;
    padding: 10px;
}

.newsContainer {
    padding: 20px;
}


.padding-left-20 {
    padding-left: 20px;
}